body {
  background-color: black !important;
  font-family: 'Roboto';
}
header {
  text-align: center;
  padding: 20px;
}
.header-title {
  font-size: 36px;
  font-weight: bold;
  animation: changeColor 3s infinite;
  font-family: 'roboto';
  transform: translate(0px, 5px);
  border: 3px solid red;
  padding: 10px;
}
.header-subtitle {
  font-size: 24px;
  font-family: 'roboto';
  transform: translate(0px, 5px);
  color: white;
  font-weight: bond;
}
.image-slider {
  position: relative;
  width: 100%;
  height: 400px;
}
.slider {
  display: flex;
  transition: transform 0.5s;
}
.slider-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.slider-circles {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.slider-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.slider-text {
  text-align: center;
  margin-top: 20px;
}
.slider-text-content {
  display: none;
}
.login-section {
  text-align: center;
  margin-top: 50px;
  transform: translate(20px);
  font-size: 20px;
}
.login-button {
  font-family: 'Roboto';
  font-size: 20px;
  padding: 10px 20px;
}
.register-text {
  margin-top: 10px;
}
@keyframes changeColor {
  0% {
    color: #ffffff;
  }
  25%{
    color: white;
  }
  50% {
    color: #ff0000;
  }
  75%{
    color: white;
  }
  90%{
    color: red;
  }
  100% {
    color: #ffffff;
  }
}
@keyframes changeColor2 {
  0% {
    color: black;
  }
  25%{
    color: blue;
  }
  50% {
    color: #ff0000;
  }
  75%{
    color: black;
  }
  90%{
    color: red;
  }
  100% {
    color: blue;
  }
}
.navbar-brand{
  animation: changeColor2 3s infinite;
  font-family: 'Roboto';
}
.Imagen-1{
   transform: translate(20px, 200px);
   border: 4px solid palevioletred;
   padding: 11px;
}
.Imagen-2{
  transform: translate(-20px , -10px);
  border: 4px solid blue;
  padding: 11px;
}
.Imagen-3{
  transform: translate(-120px, 200px);
  border: 4px solid rgb(27, 208, 27);
  padding: 11px;
}
.Imagen-4{
  transform: translate(-150px, -10px);
  border: 4px solid rgb(173, 220, 22);
  padding: 11px;
}
.Imagen-5{
  transform: translate(-230px, 200px);
  border: 4px solid rgb(27, 175, 208);
  padding: 11px;
}