*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    background-image: url('/Imagen/fondo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.change_color{
    animation: changeColor 5s Infinite;
    text-align: center;
    font-family: 'Georgia';
}
.encabezado{
    border: 3px solid black;
    padding: 20px;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
}
.contorno{
    padding: 500px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: white;
    align-content: center;
    border: 3px solid black;
}
.subtitulos {
    display: flex; 
    padding: 10px;
    background-color: white;
    border: 3px solid black;
    justify-content: center;
    margin-left: 60px;
    margin-right: 60px;
}
.subtitulos li {
    text-align: center;
    font-family: 'Georgia'; 
    font-size: 20px;
    padding: 0 2px;
    color: #b46424;
    display: inline; 
    margin: 3em; 
}
.sub{
    display: flex;
    padding: 10px;
    border: 3px solid black;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    background-color: white;
    margin-left: 60px;
    margin-right: 60px;
    text-decoration: underline;
}
.titulos {
    font-size: 10px;
    font-family: 'Georgia';  
    position: absolute; 
    margin-right: 100%;
    padding: 20px;
}

.titulos h2 { 
    margin-top: -100px; 
    margin-right: 20px;
    position: absolute;
    transform: translate(10%, 650%); 
    font-size: 25px;

}

.titulos h1 { 
    margin-top: -450px; 
    margin-left: -38px; 
    position: absolute;
    transform: translate(-300%, -50%); 
    font-size: 25px;
    font-weight: bold;
}
.titulos h3{
    margin: 0; 
    margin-top: -520px; 
    margin-left: 100px; 
    position: absolute;
    align-content: center;
    font-family: 'Georgia';
    font-size: 30px;
}
.titulos h4{
    margin-top: 300px; 
    margin-left: -10px; 
    margin-right: 3px;
    position: absolute;
    align-content: center;
    font-family: 'Georgia';
    font-size: 30px;
    transform: translate(10px);
}
.titulos h5{
    margin-top: -465px; 
    margin-left: -10px; 
    margin-right: 3px;
    position: absolute;
    align-content: center;
    font-family: 'Georgia';
    font-size: 30px;
    transform: translate(-30px);
    font-weight: bold;
}
.titulos h6{
    margin-top: -150px; 
    margin-left: 20px; 
    margin-right: 10px;
    position: absolute;
    align-content: justify;
    font-family: 'Georgia';
    font-size: 25px;
    transform: translate(-65px);
}
.titulos h7{
    margin-top: -150px; 
    margin-left: 20px; 
    margin-right: 10px;
    position: absolute;
    align-content: justify;
    font-family: 'Georgia';
    font-size: 25px;
    transform: translate(-65px,470px);
}
.p1 {
    position: absolute;
    font-size: 15px;
    transform: translate(30%, 180%);
}
.p2{
    position: absolute;
    font-size: 15px;
    transform: translate(30%, 250%);
}
.p3{
    position: absolute;
    font-size: 15px;
    transform: translate(-50%,20%);
}
.p4{
    position: absolute;
    font-size: 15px;
    transform: translate(-50%,930%);
}
.Imagen-1 {
    position: absolute;
    transform: translate(-420px, -400px); 
    
}

.Imagen-2{
    position: absolute;
    transform: translate(-235%, 6%);
    
}
.Imagen-3{
    position: absolute;
    transform: translate(-50%, -170%);
}
.Imagen-4{
    position: absolute;
    transform: translate(-50%, 20%);
}
li{
    display: inline;
    margin: 3em;

}
/*Selector de evento*/
li a:hover {
    color: yellow;
    text-decoration: none;
    list-style: none;
}

@keyframes changeColor {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: orange; }
    100% { color: red; }
}